/* customize bootstrap class effects for bootstrap components*/
.nav-link {
    border: none;
    &:hover,
    &:focus {
      border-color: #916019;
    }
  }

.nav-link.active,
  .nav-item.show .nav-link {
    border-color: #916019;
    border-bottom: 2px solid #916019;
}

.page-link {
    border: none;
    &:hover {
      color: black;
      text-decoration: none;
      background-color: white;
      border-color: none;
      font-weight: bold;
      color: #916019;
    }
  
    &:focus {
      color: #916019;
      background-color: white;
      outline: none;
      box-shadow: none;
    }
  }

.page-item {
    &.active .page-link {
      color:#916019;
      border-radius: 0px;
      border-bottom: 2px solid #916019;
      background: white;
    }
}

.form-control{
  &:focus {
    border-color:#916019;
    box-shadow: 0 0 0 0.25rem rgba(172, 138, 70, .5);
  }
}