/* hover effects */
.hover-bg-primary-transparent:hover{
    background: rgba(145,96,25,.1);
}

.hover-bg-black-transparent:hover{
    background: rgba(0,0,0,.7) !important;
}

.hover-text-black:hover{
    color:black;
}

.hover-bg-light-gray:hover{
    background: #F9F7F7;
}

.hover-opacity:hover {
    filter:opacity(0.8);
}
