/* hover effects */
.hover-bg-primary-transparent:hover{
    background: rgba(145,96,25,.1);
}

.hover-bg-black-transparent:hover{
    background: rgba(0,0,0,.7) !important;
}

.hover-bg-darken:hover {
    background:#7b5215 !important;
}

.hover-bg-light-gray:hover{
    background: #F9F7F7;
}

.hover-text-black:hover{
    color:black !important;
}

.hover-text-darken:hover{
    color:#7b5215 !important;
}

.hover-opacity:hover {
    filter:opacity(0.8);
}

.focus-reset:focus {
    box-shadow: none;
}
