/* global configuration */
body {
    font-family: "SF Pro Text","蘋方-繁",sans-serif;
}

img{
    max-width: 100%;
    height: auto;
}

ul{
    margin: 0;
}

 /* set banner's background */
.banner {
    min-height: 480px;
    background-image: url(../images/index1.jpg);
    background-size: cover;
    background-position: center;
    
    @include desktop {
        min-height: 870px;
    }
}
    
.main{
    /* darken effect for soldout product */
    .featured-products {
        img:hover {
            filter:opacity(0.7);
        }
        @include desktop {
            img {
                height: 540px;
                object-fit: cover;
            }
        }
        .soldout {
            opacity: 0.3;
            width: 100%;
            height: 100%;
        }
    }
}

.subscribe {
    min-height: 600px;
    background-image: url(../images/index10.jpg);
    background-size: cover;
    background-position: center;
}