@import "bootstrap/bootstrap";
@import "hover";
@import "customize";

/* global configuration */
body {
    font-family: "SF Pro Text","蘋方-繁",sans-serif;
}

img{
    max-width: 100%;
    height: auto;
}

ul{
    margin: 0;
}

.main{
    .banner {
        img {
            min-height: 480px;
        }
    }
    
    /* darken effect for soldout product */
    .feature-2 {
        .soldout {
            opacity: 0.3;
            width: 100%;
            height: 100%;
        }
    }
}

